[color]
	ui = true
[gitreview]
	username = ebbex
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = simple
[user]
	name = Erik Berg
	signingKey = 1182D19B0E5ED030
[commit]
	gpgSign = true
[alias]
	recommit = !git commit -eF $(git rev-parse --git-dir)/COMMIT_EDITMSG
